apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: spark
  name: afaque-spark-deployment
  labels:
    app: afaque-spark
spec:
  replicas: 1
  selector:
    matchLabels:
      app: afaque-spark
  template:
    metadata:
      labels:
        app: afaque-spark
    spec:
      serviceAccountName: spark
      containers:
      - name: afaque-spark
        image: mozafaq/sample-server-spark-k8:1.5
        ports:
          - containerPort: 8888
        volumeMounts:
          - mountPath: /root/data
            name: afaque-spark-pv
        workingDir: /root
        resources:
          limits:
            memory: 3Gi
      volumes:
        - name: afaque-spark-pv
          persistentVolumeClaim:
            claimName: afaque-spark-pvc

